footer{
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .contacto .row .telefono,
footer .contacto .row .email ,
footer .contacto .row .footer-titulo {
    font-family: 'Sansita', sans-serif;
    font-weight: 700;
    color: #8DA487;
    font-size: 5px;
}
footer .contacto .row .texto-footer{
    font-size: 15px;
}

footer .contacto svg{
    margin-left: 5px;
    color: #8DA487 ;
}
