
.container-trabajos-div{
    width: 100% !important;
    max-width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 30px;
}
.trabajos {
    background: #E3E3E3;
}
.trabajos .titulo-trabajos{
    margin-top: 30px;
}

.trabajos .titulo{
    padding-top: 20px;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Amatic SC', cursive;
    text-shadow: 1px 1px 0px #8DA487;
    color: #8DA487;
}
.texto p{
    color: #283725;
}
.trabajos .container-post input[type="radio"]{
    display: none;
}

.trabajos .menu-habilidades .lista-habilidades{
    
    margin-top: 30px;
    margin-bottom: 300px;
}
.trabajos .container-category{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.trabajos .container-category label{
    padding: 4px 14px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    color: #8da487;
    background: #e3e3e3;
    box-shadow: inset 0px 2px 20px 0px rgb(201, 201, 201)
}
.trabajos .container-category label:hover{
    background: rgba(43, 87, 33, 0.588);
    color: white;
    box-shadow: none;
    cursor: pointer;
}

.trabajos .container .card-personalizado{
    min-width: 330px;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.trabajos .container .card-personalizado:hover{
    transition: transform 0.8s;
    transform: scale(1.07); 
}
.trabajos .container .card-personalizado img{
    height: 220px;
    margin-top: 15px;
    margin-bottom: 0px;
    overflow: hidden;
}

.trabajos .container .card-personalizado p{
    font-family: 'Sansita', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.trabajos .container .card{
    margin-bottom: 30px;
    margin-left: 5px;
    background: #8DA487;
    border: none;
    box-shadow: 0.5px 0.5px 12px gray
}

.trabajos .container .card .card-title{
    font-family: 'Sansita', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
}
.trabajos .container .card .card-text{
    font-size: 16px;
    color: #233120;
}
.trabajos .container .card .btn-ver-trabajo{
    margin-top: 30px;
}
.trabajos .container .card .btn-ver-trabajo a:hover{
    background: #4f684a;
}
.trabajos .container .card .btn-ver-trabajo p{
    font-size: 14px;
    padding: 2px 6px;
    border: 2px solid #22421b42;
    border-radius: 3px;
    color: #22421b;
    margin-left: 2px;
}

.trabajos .container .card .btn{
    background: #8DA487;
    border-color: white;
}
.trabajos .ver-mas{
    margin-bottom: 50px;
}
.trabajos .ver-mas h3{
    font-family: 'Playfair Display', serif;
    color: #C0931F !important;
    font-size: 25px;
    margin-bottom: 50px;
}



@media (max-width: 992px) {
    /* Ajuste de filtros y tarjetas para tablets medianas */
    .trabajos .container-category label {
        padding: 4px 10px;
        font-size: 11px;
    }

    .trabajos .container .card .card-title {
        font-size: 16px;
    }
    .trabajos .container .card .btn-ver-trabajo p {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    /* Ajuste para pantallas móviles */
    .trabajos .titulo {
        font-size: 28px;
    }

    .trabajos .container .card {
        margin-bottom: 20px;
    }
    .trabajos .container .card .card-title {
        font-size: 15px;
    }

    .trabajos .container .card .btn-ver-trabajo p {
        font-size: 10px;
    }
    /* Cambiar tarjetas a un solo elemento por fila en móviles */
    .trabajos .posts .card {
        max-width: 70%;
        flex: 0 0 100%;
    }
}

/* Ajustes para pantallas extra pequeñas */
@media (max-width: 576px) {
    .trabajos .container-category label {
        padding: 2px 8px;
        font-size: 10px;
    }
    .trabajos .container-post .container {
        padding: 20px;
    }
    .trabajos .container .card .btn-ver-trabajo p {
        font-size: 8px;
    }
}