/** MEDIA QUERIES */

/* @media screen and (max-width: 1200px){
    .trabajos .container .card .btn-ver-trabajo .figma{
        margin: 0;
    }
    .trabajos .container .card .btn-ver-trabajo .small{
        font-size: 9px;
        flex-wrap: wrap;
        margin: 0;
        margin-bottom: 0px;
    }
} */
@media screen and (max-width: 991px) {
    header .container .contenedor-texto{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    header .container .texto .nombre{
        font-size: 30px;
    }
    header .container .texto .profesion{
        font-size: 13px;
    }
    header .container .buscador{
        margin-top: -117px;
    }
    header .container .buscador .input-icon{
        left: 90%;
        left: 89%;
        top: 59%;
        transform: translateY(-50%);
    }
    /* header .container .menu{
        display: none;
        
    } */

    .main .trabajos .container-trabajos .trabajo{
        width: 46%;
    }

    footer .redes-sociales {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    header .container{
        margin: 0 0 0 60px;
    }
    header .container .contenedor-texto {
        flex-direction: row;
    }
    header .container .contenedor-texto .texto h1{
        font-size: 25px;
    }
    header .container .contenedor-texto .texto h2{
        font-size: 15px;
    }
    header .container .buscador{
        display: none;
    }
    header .container .menu{
        display: none;
    }
    /* header .container .contenedor-texto .navbar .navbar-toggler{
        margin-left: auto;
    } */

    header .container .contenedor-texto .toggle-menu{
        position: fixed;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 320px;
        filter: invert(1);
        
    }
    header .container .contenedor-texto .toggle-menu .toggle-icon{
        justify-content: end;
    }
    .trabajos .container .card .btn-ver-trabajo .figma{
        margin: 0;
    }
    .trabajos .container .card .btn-ver-trabajo .small{
        font-size: 9px;
        flex-wrap: wrap;
        margin: 0;
        margin-bottom: 0px;
    }
    
}

@media screen and (max-width: 575px){
    header .navbar{
        margin-left: auto;
    }
    header .container .navbar .navbar-toggler{
        
        margin-left: 100px;
        border: none;
        text-decoration: none;
        outline: none;
        margin-top: -37px;
        /* margin-right: 12px; */
    }
    .main .acerca-de .container .foto{
        display: none;
    }
    footer .contacto .footer-titulo{
        width: 100%;
        float: left;
        text-decoration: underline;
    }
    footer .contacto svg{
        display: none;
    }
    footer .contacto .telefono,
    footer .contacto .email{
        width: 100%;
        float: left;
    }
    .trabajos .container .card .btn-ver-trabajo .figma{
        margin: 0;
    }
    .trabajos .container .card .btn-ver-trabajo .small{
        font-size: 9px;
        flex-wrap: nowrap;
        margin-left: 2px;
        margin-bottom: 10px;
        /* justify-content: center; */
    }
    
}


